@font-face {
    font-family: 'Alegreya Sans SC';
    src: url('AlegreyaSansSC-Bold.woff2') format('woff2'),
        url('AlegreyaSansSC-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('AlegreyaSans-Bold.woff2') format('woff2'),
        url('AlegreyaSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('AlegreyaSans-Regular.woff2') format('woff2'),
        url('AlegreyaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('AlegreyaSans-Medium.woff2') format('woff2'),
        url('AlegreyaSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

