/* ===================
   JOSH COMEAU'S RESET 
   =================== */

/* Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Typographic tweaks */
body {
  min-height: 100svh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

/* Remove markers from lists */
ul {
  list-style-type: none;
}

/* Remove underlines from links */
a {
  text-decoration: none;
}

/* ===================
   END OF RESET 
   =================== */

/* Declare custom fonts */
@font-face {
  font-family: 'Alegreya Sans SC Bold';
  src:
    url('/fonts/Alegreya-Sans-SC/AlegreyaSansSC-Bold.woff2')
      format('woff2'),
    url('/fonts/Alegreya-Sans-SC/AlegreyaSansSC-Bold.woff')
      format('woff');
}

@font-face {
  font-family: 'Alegreya Sans Regular';
  src:
    url('/fonts/Alegreya-Sans/AlegreyaSans-Regular.woff2')
      format('woff2'),
    url('/fonts/Alegreya-Sans/AlegreyaSans-Regular.woff')
      format('woff');
}

@font-face {
  font-family: 'Alegreya Sans Medium';
  src:
    url('/fonts/Alegreya-Sans/AlegreyaSans-Medium.woff2')
      format('woff2'),
    url('/fonts/Alegreya-Sans/AlegreyaSans-Medium.woff')
      format('woff');
}
/* CSS variables */
:root {
  /* Core units
  ============== */
  --base-unit: 0.25rem;
  --base-half-unit: calc(var(--base-unit) / 2);

  /* Typography
  ============== */
  /* Fonts */
  --ff-primary: 'Alegreya Sans Regular';
  --ff-secondary: 'Alegreya Sans SC Bold';

  /* Font sizes */
  --font-base-unit: var(--base-unit);
  --fs-12: calc(var(--font-base-unit) * 3);
  --fs-16: calc(var(--font-base-unit) * 4);
  --fs-20: calc(var(--font-base-unit) * 5);
  --fs-24: calc(var(--font-base-unit) * 6);
  --fs-40: calc(var(--font-base-unit) * 10);
  --fs-48: calc(var(--font-base-unit) * 12);
  --fs-64: calc(var(--font-base-unit) * 16);


  /* Font weights */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;


  /* Space
  ========= */
  --space-base-unit: var(--base-unit);
  --space-8: calc(var(--space-base-unit) * 2);
  --space-12: calc(var(--space-base-unit) * 3);
  --space-16: calc(var(--space-base-unit) * 4);
  --space-24: calc(var(--space-base-unit) * 6);
  --space-32: calc(var(--space-base-unit) * 8);

  /* color
  ========= */
  --clr-badge: #FFAF54;
  --clr-hero: #FEF9F7;
  --clr-accent: #2974A8;
  --clr-gray-1: #ffffff;
  --clr-gray-2: #eeeeee;
  /* --clr-gray-3: #d5d5d5;
  --clr-gray-4: #bbbbbb;
  --clr-gray-5: #a1a1a1;
  --clr-gray-6: #888888; */
  --clr-gray-7: #6f6f6f;
  /* --clr-gray-8: #555555;
  --clr-gray-9: #3c3c3c;
  --clr-gray-10: #222222; */

  --clr-white: #fff;
  --clr-black: #000;
  --clr-red: #dc143c;

  /* Border
  ========== */
  /* Border radius */
  --radius-base-unit: 0.3125rem;
  --bd-radius-small: calc(var(--radius-base-unit) * 1);
  /* --bd-radius-medium: calc(var(--radius-base-unit) * 2); */
  --bd-radius-large: calc(var(--radius-base-unit) * 8);
  --bd-radius-round: 50%;

  /* Box shadow */
  --box-shadow-1: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
