/* ===================
   JOSH COMEAU'S RESET 
   =================== */

/* Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Typographic tweaks */
body {
  min-height: 100svh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

/* Remove markers from lists */
ul {
  list-style-type: none;
}

/* Remove underlines from links */
a {
  text-decoration: none;
  color: var(--clr-black, black);
}

/* ===================
   END OF RESET 
   =================== */

/* Declare custom fonts */
@font-face {
  font-family: 'Alegreya Sans SC Bold';
  src:
    url('/fonts/Alegreya-Sans-SC/AlegreyaSansSC-Bold.woff2') format('woff2'),
    url('/fonts/Alegreya-Sans-SC/AlegreyaSansSC-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Alegreya Sans Regular';
  src:
    url('/fonts/Alegreya-Sans/AlegreyaSans-Regular.woff2') format('woff2'),
    url('/fonts/Alegreya-Sans/AlegreyaSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Alegreya Sans Medium';
  src:
    url('/fonts/Alegreya-Sans/AlegreyaSans-Medium.woff2') format('woff2'),
    url('/fonts/Alegreya-Sans/AlegreyaSans-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Alegreya Sans Bold';
  src:
    url('/fonts/Alegreya-Sans/AlegreyaSans-Bold.woff2') format('woff2'),
    url('/fonts/Alegreya-Sans/AlegreyaSans-Bold.woff') format('woff');
}

/* CSS variables */
:root {
  /* Core units
  ============== */
  --base-unit: 0.25rem;
  --base-half-unit: calc(var(--base-unit) / 2);

  /* Typography
  ============== */
  /* Fonts */
  --ff-primary: 'Alegreya Sans Regular';
  --ff-secondary: 'Alegreya Sans Bold';
  --ff-tertiary: 'Alegreya Sans Medium';
  --ff-header: 'Alegreya Sans SC Bold';

  /* Font sizes */
  --font-base-unit: var(--base-unit);
  --fs-12: calc(var(--font-base-unit) * 3);
  --fs-16: calc(var(--font-base-unit) * 4);
  --fs-20: calc(var(--font-base-unit) * 5);
  --fs-24: calc(var(--font-base-unit) * 6);
  --fs-32: calc(var(--font-base-unit) * 8);
  --fs-40: calc(var(--font-base-unit) * 10);
  --fs-48: calc(var(--font-base-unit) * 12);
  --fs-64: calc(var(--font-base-unit) * 16);

  /* Font weights */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  /* Space
  ========= */
  --space-base-unit: var(--base-unit);
  --space-4: var(--space-base-unit);
  --space-8: calc(var(--space-base-unit) * 2);
  --space-10: calc(var(--space-base-unit) * 2.5);
  --space-12: calc(var(--space-base-unit) * 3);
  --space-16: calc(var(--space-base-unit) * 4);
  --space-24: calc(var(--space-base-unit) * 6);
  --space-32: calc(var(--space-base-unit) * 8);
  --space-64: calc(var(--space-base-unit) * 16);
  --space-96: calc(var(--space-base-unit) * 24);
  --space-128: calc(var(--space-base-unit) * 32);
  --space-144: calc(var(--space-base-unit) * 36);

  /* color
  ========= */
  --clr-admin: #ffaf54;
  --clr-hero: #fef9f7;
  --clr-accent: #2974a8;
  --clr-member: #6da8d6;
  --clr-gray-1: #ffffff;
  --clr-gray-2: #eeeeee;
  --clr-gray-3: #d5d5d5;
  --clr-gray-7: #6f6f6f;
  --clr-white: #fff;
  --clr-black: #000;
  --clr-red: #dc143c;

  /* Border
  ========== */
  /* Border radius */
  --radius-base-unit: 0.3125rem;
  --bd-radius-small: calc(var(--radius-base-unit) * 1);
  --bd-radius-medium: calc(var(--radius-base-unit) * 2);
  --bd-radius-large: calc(var(--radius-base-unit) * 8);
  --bd-radius-round: 50%;

  /* Box shadow */
  --box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

body {
  font-family: var(--ff-primary), sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Make header sticky on top of the page */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: var(--space-128, 8rem);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: var(--clr-white, white);
  border-block-end: 1px solid var(--clr-gray-2, gainsboro);
}

.brand {
  display: flex;
  align-items: center;
  gap: var(--space-16, 1rem);
}

.title {
  font-family: var(--ff-header), sans-serif;
  font-size: var(--fs-48, 3rem);
}

.title--accent {
  color: var(--clr-accent, royalblue);
}

.menu {
  display: flex;
  align-items: center;
  gap: var(--space-32, 2rem);
  font-family: var(--ff-secondary), sans-serif;
}

.link {
  padding: var(--space-12, 0.75rem) var(--space-16, 1rem);
  border-radius: var(--bd-radius-medium, 0.625rem);
}

.link--cta {
  background-color: var(--clr-accent, royalblue);
  color: var(--clr-white, white);
  font-family: var(--ff-secondary), sans-serif;
}

.link--login {
  background-color: var(--clr-gray-3, lightgray);
}

.link--join {
  font-weight: var(--fw-bold, 700);
  align-self: flex-start;
}

.link--admin {
  margin-inline-start: auto;
  font-size: var(--fs-16, 1rem);
  text-decoration: underline;
}

.link--home {
  font-size: var(--fs-20, 1.25rem);
  justify-self: start;
  margin-block-start: var(--space-16, 1rem);
}

/* Remove user agent button styles */
.btn {
  border: transparent;
  cursor: pointer;
  background-color: transparent;
  padding: var(--space-12, 0.75rem) var(--space-16, 1rem);
  border-radius: var(--bd-radius-medium, 0.625rem);
  font-weight: var(--fw-bold, 700);
}

.btn--cta {
  background-color: var(--clr-accent, royalblue);
  color: var(--clr-white, white);
}

.btn--logout {
  padding-block: var(--space-10, 0.625rem);
  background-color: var(--clr-gray-3, lightgray);
}

.btn--form {
  margin-block-start: var(--space-16, 1rem);
}

.hero {
  background-color: var(--clr-hero, seashell);
  padding: var(--space-96, 6rem) var(--space-144, 10rem);
  display: flex;
  align-items: center;
  gap: var(--space-16, 1rem);
}

.hero__content,
.hero__image-container {
  flex: 1;
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: var(--space-24, 1.5rem);
  font-size: var(--fs-20, 1.25rem);
}

.hero__header {
  font-size: var(--fs-48, 3rem);
}

.hero__image-container {
  width: 28.125rem;
  height: 28.125rem;
}

.hero__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.messages,
.error,
.success__msg {
  padding: var(--space-32, 2rem) var(--space-128, 8rem);
  display: grid;
  gap: var(--space-24, 1.5rem);
}

.sub-title {
  font-size: var(--fs-32, 2rem);
  text-align: center;
}

.messages__list {
  display: flex;
  flex-direction: column;
  gap: var(--space-24, 1.5rem);
}

.messages__sub-title {
  font-size: var(--fs-32, 2rem);
}

.message {
  border: 1px solid var(--clr-gray-3, lightgray);
  border-radius: var(--bd-radius-small, 0.3125rem);
  padding: var(--space-16, 1rem);
  box-shadow: var(--box-shadow, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px);
  display: flex;
  flex-direction: column;
  gap: var(--space-16, 1rem);
}

.message__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message__title {
  letter-spacing: 0.05em;
}

hr {
  border: 1px solid var(--clr-gray-2, gainsboro);
}

.message__item {
  display: flex;
}

.message__label {
  flex: 1;
  font-family: var(--ff-tertiary), sans-serif;
}

.message__text {
  flex: 5;
}

.message__author-container {
  display: flex;
  gap: var(--space-16, 1rem);
  align-items: center;
}

.message__badge {
  padding: var(--space-4, 0.25rem) var(--space-8, 0.5rem);
  border-radius: var(--bd-radius-small, 00.3125rem);
  font-weight: var(--fw-bold, 700);
  text-transform: uppercase;
}

.message__badge--admin {
  background-color: var(--clr-admin, orange);
}

.message__badge--member {
  background-color: var(--clr-member, hotpink);
}

.message__badge--user {
  background-color: var(--clr-gray-3, lightgray);
}

.signup,
.login,
.club,
.admin,
.new-msg {
  width: 600px;
  border: 1px solid var(--clr-gray-3, lightgray);
  border-radius: var(--bd-radius-medium, 0.625rem);
  box-shadow: var(--box-shadow, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px);
  padding: var(--space-32, 2rem) var(--space-48, 3rem);
  font-size: var(--fs-20, 1.25rem);
  margin-block: var(--space-32, 2rem);
  display: grid;
  gap: var(--space-16, 1rem);
}

.club--wide {
  width: 700px;
}

.signup__text {
  margin-block-end: var(--space-12, 0.75rem);
}

.signup__header {
  margin-block-end: 0;
}

.form,
.admin__description,
.admin__form-container {
  display: grid;
  gap: var(--space-16, 1rem);
}

.form__required {
  font-weight: var(--fw-bold, 700);
}

.form__control {
  width: 100%;
}

.form__label,
.form__input,
.form__error {
  width: 100%;
}

.form__label {
  display: block;
  margin-block-end: var(--space-4, 0.25rem);
  font-weight: var(--fw-bold, 700);
}

.form__input {
  display: block;
  padding: var(--space-8, 0.5rem);
  border: 1px solid var(--clr-black, black);
  border-radius: var(--bd-radius-small, 00.3125rem);
}

.form__error {
  display: block;
  color: var(--clr-red, red);
  font-family: var(--ff-tertiary), sans-serif;
}

.password-requirements {
  margin-block-end: var(--space-8, 0.5rem);
}

.errors {
  color: var(--clr-red, red);
  font-family: var(--ff-tertiary), sans-serif;
}

.errors__list {
  list-style-type: disc;
  padding-inline-start: var(--space-16, 1rem);
}

.membership__text {
  margin-block-end: var(--space-16, 1rem);
}

.success__msg {
  font-size: var(--fs-24, 1.5rem);
  font-family: var(--ff-secondary), sans-serif;
}

.error__code {
  font-size: var(--fs-64, 4rem);
}

.error__title {
  font-size: var(--fs-40, 2.5rem);
}

.error__message {
  font-size: var(--fs-24, 1.5rem);
}

.footer {
  padding: var(--space-12, 0.75rem) var(--space-32, 2rem);
  font-size: var(--fs-20, 1.25rem);
  font-weight: var(--fw-bold, 700);
  background-color: var(--clr-gray-2, gainsboro);
  display: flex;
  justify-content: center;
  align-items: center;
}
